input[type="number"],
select {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 5px;
  background-color: #fff;
}

select {
  text-align: center;

}

input[type="number"]:focus,
select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 1px #007bff33;
  margin-top: 5px;
}

@media screen and (max-width: 850px) {
  input[type="number"],
  select {
    font-size: 10px;
  }
}